In [1]:
sum(range(0, 101))

5050

In [2]:
a=5
def fn():
    global a
    a=4

fn()
print(a)

4

In [4]:
dic = {"name": "zs", "age": 18}
del dic["name"]
dic
dic2 = {"name": "ls"}
dic.update(dic2)
dic

{'age': 18, 'name': 'ls'}

In [ ]:
list = [11, 12, 13, 12, 15, 16, 13, 17]
a = set(list)   # remove duplicates
print(a)
list2 = [x for x in a]
print(list2)

{11, 12, 13, 15, 16, 17}
[11, 12, 13, 15, 16, 17]

In [15]:
# args contains unnamed args
# kwargs contains args with key name
def args_demo(*args, **kwargs):
    print(args)
    for k,v in kwargs.items():
        print(k, v)

args_demo(10, 'a', name = "ls")

(10, 'a')
name ls

In [ ]:
# range in python 3 returns iterator
type(range(100))

range

In [ ]:
list = [1,2,3,4,5]
def fn(x):
    return x**2

res = map(fn, list)  # returns an iterator
res

In [22]:
import random
import numpy as np

result = random.randint(10, 20)
res = np.random.randn(5)
ret = random.random()

print(result, res, ret)

15 [ 2.08561793 -0.06337951 -0.36491755  0.7163987   0.22882633] 0.6243853485848634

In [25]:
import re
str = '<div class="name">Canada<div>'
res = re.findall(r'<div class=".*">(.*?)<div>', str)
print(res)

['Canada']

In [27]:
a=3
assert(a>1)
print('assert(a) ok')

b=7
try:
    assert(b<4) # throw assert exception
except:
    print('assert(b) failed')

assert(a) ok
assert(b) failed

In [ ]:
s = "ajldjlajfdljfddd"
s = set(s)  # remove duplicate
print(s)
s1 = [x for x in s]
s1.sort(reverse=False)  # sort
ret = "".join(s1) # to string
print(ret)

{'l', 'f', 'a', 'j', 'd'}
adfjl

In [34]:
# lambda function
mul = lambda a,b: a*b
print(mul(5,4))

20

In [ ]:
# sort dict keys
dict = {"name": "zs", "age": 18, "city":"Toronto", "tel":"1234567890"}
list = sorted(dict.items(), key=lambda i:i[0], reverse=False)   # convert to list and sort
print(list)
new_dict = {} # list to dict
for i in list:
    new_dict[i[0]] = i[1]
print(new_dict)

[('age', 18), ('city', 'Toronto'), ('name', 'zs'), ('tel', '1234567890')]
{'age': 18, 'city': 'Toronto', 'name': 'zs', 'tel': '1234567890'}

In [ ]:
### mutable data types
"""
Mutable types allow you to modify the data in place, 
meaning you can change their contents without creating a new object. 
"""
# list
my_list = [1, 2, 3]
print(id(my_list))
my_list.append(4)
print(id(my_list))

# dictionary
my_dict = {"a":1, "b":2,}
print(id(my_dict))
my_dict["c"] = 3
print(id(my_dict))

# set
my_set = {1, 2, 3}
print(id(my_set))
my_set.add(4)  # my_set becomes {1, 2, 3, 4}
print(id(my_set))

# bytearray
my_byte_array = bytearray(b"Hello")
print(id(my_byte_array))
my_byte_array[0] = ord("J")  # my_byte_array becomes b'Jello'
print(id(my_byte_array))

### immutable data types
"""
Immutable types cannot be changed once created. 
Any modification creates a new object in memory.
"""
# String
my_str = "abcd"
print(id(my_str))
my_str = my_str+"d"
print(id(my_str))

# Tuples
my_tuple = (1, 2, 3)
my_tuple[2]
# my_tuple[0] = 10  # This will raise an error

# integers, float, complex numbers
x = 5
print(id(x))
x += 1  # A new integer object is created with value 6
print(id(x))

# frozen sets
my_frozen_set = frozenset([1, 2, 3])
# my_frozen_set.add(4)  # This will raise an error

4422092352
4422092352
4421543936
4421543936
4413814624
4413814624
4412767536
4412767536
4421547760
4404175600
4342559984
4342560016

AttributeError: 'frozenset' object has no attribute 'add'

In [50]:
# use counter to count frequency of letters
from collections import Counter
# a = "askfklashewojwhfaklghraojefhinbvaiehelajfkaleflagfealaghrepa'jfoefakhfrahfeoajfiaeurh"
a = [1, 2, 3, 1, 2 ,3, 4, 5, 5, 7, 6,5,4,3,2,1]
res = Counter(a)
print(res)

Counter({1: 3, 2: 3, 3: 3, 5: 3, 4: 2, 7: 1, 6: 1})

In [54]:
# get odd numbers with filter
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,]
def fn(a):
    return a%2==1

new_list = filter(fn, a)
new_list = [i for i in new_list]

new_list2 = [i for i in a if fn(i)==True]
print(new_list)
print(new_list2)

[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13]

In [55]:
# merge and sort two lists
list_1 = [1,5,7,9]
list_2 = [2,2,6,8]

list_1.extend(list_2)   # merge
print(list_1)
list_1.sort(reverse=False)
print(list_1)

[1, 5, 7, 9, 2, 2, 6, 8]
[1, 2, 2, 5, 6, 7, 8, 9]

In [66]:
# use datetime to get timestamps
import datetime
a = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S") + " week: " + f"{datetime.datetime.now().isoweekday()}"
print(a)

2024-11-07 10:56:38 week: 4

In [67]:
# raise exception
def fn():
    try:
        for i in range(5):
            if i>2:
                raise Exception("number > 2")
    except Exception as ret:
        print(ret)

fn()

number > 2

In [68]:
# greedy or non-greedy matching in RE
import re
s = "<a>haha</a><a>hehe</a>"
res1=re.findall("<a>(.*)</a>", s)
print("greedy matching: ", res1)
res2 =re.findall("<a>(.*?)</a>", s)
print("non-greedy matching: ", res2)

greedy matching:  ['haha</a><a>hehe']
non-greedy matching:  ['haha', 'hehe']

In [70]:
# flatten a list
import numpy as np
a = [[1,2],[3,4],[5,6]]
x = [j for i in a for j in i]
print(x)

arr = np.array(a)
print(arr.flatten().tolist())

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [71]:
# swap values of two variables
a,b = 3,4
print(a,b)
a,b = b,a
print(a,b)

3 4
4 3

In [72]:
# use of zip function
a = [1,2]
b = [3,4]
res = [i for i in zip(a,b)]
print(res)

[(1, 3), (2, 4)]