In [13]:
import pandas as pd
import numpy as np

### Construct series from list

In [2]:
courses = ["mathematics", "english", "chinese", "programming",]
data = pd.Series(data=courses)
data

### Construct series from dict

In [7]:
grades = {"chinese": 80, "english": 75, "mathematics": 90, "programming": 85}
data = pd.Series(data=grades)
data

### Convert series back to list or dict

In [10]:
numbers = data.to_list()
numbers

dict_data = data.to_dict()
dict_data

{'chinese': 80, 'english': 75, 'mathematics': 90, 'programming': 85}

### Convert series to dataframe

In [12]:
df = pd.DataFrame(data, columns=["grade"])
df

             grade
chinese         80
english         75
mathematics     90
programming     85

### Construct series from numpy array

In [18]:
s = pd.Series(np.arange(10, 100, 10), index=np.arange(101, 110), dtype=np.float16)
s

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float16

### Type conversion in series

In [22]:
s = pd.Series(
    data=["001", "002", "003", "004"],
    index=list('abcd')
)
# type conversion (astype or map)
# s = s.astype(int)
s = s.map(int)

print(s)

a    1
b    2
c    3
d    4
dtype: int64

### Add new data to series

In [25]:
new_data = pd.Series({
        "physics": 88,
        "chemistry": 95
    })

data = pd.concat([data, new_data])
data

chinese        80
english        75
mathematics    90
programming    85
physics        88
chemistry      95
dtype: int64

### Convert series to dataframe with new columns

In [26]:
df = data.reset_index()
df.columns = ["subject", "grade"]
df

       subject  grade
0      chinese     80
1      english     75
2  mathematics     90
3  programming     85
4      physics     88
5    chemistry     95